<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.railway.dao.UploadInfoMapper" >
  <resultMap id="BaseResultMap" type="com.railway.bean.UploadInfo" >
    <id column="user_name" property="userName" jdbcType="VARCHAR" />
    <id column="year" property="year" jdbcType="VARCHAR" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="uploaded" property="uploaded" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_name, year, table_id, uploaded
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.railway.bean.UploadInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from t_upload_info
    where user_name = #{userName,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.railway.bean.UploadInfoKey" >
    delete from t_upload_info
    where user_name = #{userName,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.railway.bean.UploadInfo" >
    insert into t_upload_info (user_name, year, table_id, 
      uploaded)
    values (#{userName,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{tableId,jdbcType=INTEGER}, 
      #{uploaded,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.railway.bean.UploadInfo" >
    insert into t_upload_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        user_name,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="uploaded != null" >
        uploaded,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="uploaded != null" >
        #{uploaded,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.railway.bean.UploadInfo" >
    update t_upload_info
    <set >
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="uploaded != null" >
        uploaded = #{uploaded,jdbcType=INTEGER},
      </if>
    </set>
    where user_name = #{userName,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.railway.bean.UploadInfo" >
    update t_upload_info
    set table_id = #{tableId,jdbcType=INTEGER},
      uploaded = #{uploaded,jdbcType=INTEGER}
    where user_name = #{userName,jdbcType=VARCHAR}
      and year = #{year,jdbcType=VARCHAR}
  </update>
</mapper>