<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.railway.dao.UploadInfoMapper">
  <resultMap id="BaseResultMap" type="com.railway.bean.UploadInfo">
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.railway.bean.UploadInfo">
    insert into t_upload_info (user_name, year, table_id, 
      update_time)
    values (#{userName,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{tableId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="map" >
    select 
    *
	from t_upload_info
	where user_name = #{userName,jdbcType=VARCHAR}
	and year = #{year,jdbcType=VARCHAR}
	and table_id in
	<foreach item="item" index="index" collection="list" open="("
		separator="," close=")">
		#{item}
	</foreach>
  </select>
  <select id="selectByTableId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from t_upload_info where table_id = #{tableId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.railway.bean.UploadInfo">
    insert into t_upload_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="tableId != null">
        table_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>